html {
  background-color: rgb(242, 228, 199);
}

/* Centering, coloring, and applying additional properties to the Screen div */
.Screen {
  position: absolute;
  background-color: black;
  height: 80vh;
  width: 100vh;
  border-radius: 1%;
  padding: 2vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Text {
  color: lightgreen;
  font-family: "VT323", "monospace";
  font-size: 4vh;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: lightgreen 0px 0px 2x;
  animation: typing 3.5s steps(40, end), cursor 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Cursor effect */
@keyframes cursor {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lightgreen;
  }
}
